---
import LoginForm from '../components/LoginForm.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Auth API</title>
	</head>
	<body>
		<h1>Welcome to Astro Auth API</h1>
		<LoginForm />
	</body>
</html>

